{% extends "mainapp/layout.html" %}

{% block body1 %}
<h1 class="welcome_banner">Welcome to BoredLand!</h1>
{% endblock %}

{% block body2 %}
<br>
<div class="mainpage_text">
    <h2>HELP!!!</h2>
    <h3>I'm so B O R E D!  I don't know what I want to do now!</h3>
    <p>Fret not! In this website, you can try out various games when you are bored, and possibly try to beat the existing global high scores! 
        You can also see your own existing high score if you are logged in. (To be implemented in future) As a bonus side effect, you might 
        even end up being even more bored after trying out those senseless games! (By the way, congratulations in advance if you end up 
        being even more bored!) 
    </p>
    <p>If you do not know where to start, you can either click on the "Games" button to 
        find a game that you like, or "Random" button to start playing a random game!
    </p>
</div>
{% endblock %}